<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<animation target="series" framePerSecond="15" showAllFrame="true" loop="true" reverse="false"/>
	<annotation color="#FFFF00" handleColor="#FF0000" thickness="1" opacity="255" calibrateDataX="1" calibrateDataY="1" show="true" infoBoxVisibility="show" showInfoBoxNameOnly="false" showInfoBoxMean="true" showInfoBoxSDev="true" showInfoBoxMinMax="true" showInfoBoxMedian="true" showInfoBoxSum="true" infoBoxTextSize="10" infoBoxTextColor="#FFFFFF" units="millimeters" precision="2" showCurrentCrossReferencingLines="true" showBoundaryCrossReferencingLines="true" showIntermediateCrossReferencingLines="false" showCurrentSliceThickness="true" showBoundarySliceThickness="false" showIntermediateSliceThickness="false" showSliceNumber="false" crossReferenceCurrentColor="#FF0000" crossReferenceIntermediateColor="#FFFF00" crossReferenceBoundaryColor="#00FF00" crossReferenceOpacity="255"/>
	<application showMaximized="false" showSplash="true" showDefaultViewerDialog="true" defaultDICOMTagsTab="patient" defaultTypeOpenDialog="all_files" defaultTypeOpenZipDialog="zip_files" titleType="DICOMAttributes" titlePatientName="true" titlePatientAge="true" titleSeriesName="true" titleAcquisitionDateTime="true" alwaysCheckForUpdate="true" showMessageNotForDiagnosticUse="false" messageNotForDiagnosticUsePosition="all"/>
	<dicomBrowser patientAppearance="name" sortPatientsBy="patientAsc" sortSeriesBy="instanceAsc" hideImageLevel="false" hideSeriesLevel="false" hideStudyLevel="false" hidePatientLevel="false"/>
	<exportDicom target="image" imageSize="original" exportFrameToSeparateFiles="false" separateFiles="false" exportAnnotations="true"  exportOnlyCurrentFrame="false" exportTags="true" useCompression="true" customImageSizeX="0" customImageSizeY="0" fileNamePrefix=""/>
	<exportImage target="image" imageFormat="jpg" exportFrame="true" createSubFolder="true" imageSize="original" exportAnnotations="true" exportOverlayType="all" jpeg_quality="75" customImageSizeX="0" customImageSizeY="0" fileNamePrefix=""/>
	<exportVideo target="series" imageFormat="mp4" mp4_codec="h264" customFPS="25" exportFrame="true" noCompression="false" separateFiles="false" videoSize="original" exportAnnotations="true" exportOverlayType="all" quality="100" fileNamePrefix="" customVideoSizeX="0" customVideoSizeY="0" useDefaultFPS="true"/>
	<standardOverlay color="#FFFFFF" show="true" showPatientData="true" fontName="Consolas"/>
	<print framePerPage="6" pageNumber="both" showHeader="true" showFooter="true" showAllFrame="true" showDicomTags="true" overlayType="none" showAnnotation="true" showDate="true" headerText="" footerText="www.microdicom.com" showDicomInfo="true" leftMargin="0.25" topMargin="0.25" rightMargin="0.25" bottomMargin="0.25"/>
	<view defaultZoom="fitToScreen" syncSlicePosition="true" syncZoom="true" syncWindowing="false" syncSameStudy="true" syncDifferentStudies="false" interpolation="bilinear" startupView="imageView" splitViewRow="2" splitViewCol="2"/>
	<commonExport  openFileExplorerAfterExport="true" createPatientFolder="true" createStudyFolder="true" createSeriesFolder="true" patientName="true" patientID="false" patientBirthday="false" studyModality="true" studyDesc="true" studyDate="true" studyID="true" seriesNumber="true" seriesDesc="false" seriesDate="false"/>
	<anonymize target="image" createSubFolder="false" templateName="Default" addTextToFileName="true" fileNameText="_anon" fileNameTextPosition="end"/>
	<commonBatch  searchInSubfolders="true" />
	<windowlevels defaultWL="default" customCenter="0" customWidth="1">
		<preset name="Skull" center="25" width="95"/>
		<preset name="Lung" center="-400" width="1600"/>
		<preset name="Abdomen" center="10" width="400"/>
		<preset name="Mediastinum" center="10" width="450"/>
		<preset name="Bone" center="300" width="2500"/>
		<preset name="Spine" center="20" width="300"/>
		<preset name="Postmyelo" center="200" width="1000"/>
		<preset name="Felsenbein" center="500" width="4000"/>
	</windowlevels>
	<view defaultZoom="fitToScreen"/>
	<copyToFolder target="image" createSubFolder="false" fileNamePrefix=""/>
	<exportText target="image" textFormat="txt" createSubFolder="true" fileNamePrefix=""/>
	<dicomServers>
		<client AETitle="MICRODICOM" port="11112" acceptReceivingStudies="false" receiveTransferSyntax="ExplicitVRLittleEndian"/>
		<storage deleteAfterClosingApplication="true"  autoAddDatabase="false"/>
		<sendToPacs target="image" />
	</dicomServers>
	<database>
		<search dateTime="allDate" modality="1048575" viewType="studies"/>
	</database>	
</settings>